<!DOCTYPE html>
<html>
<head>

<title>My Shop</title>

<link rel="stylesheet" href="/style.css">

</head>

<body>

<nav>

<a href="/">Home</a>

<a href="/basket">
Basket (<%= basketSize %>)
</a>

</nav>

<div class="container">